<div class="deliberation-container">
  <div class="deliberation-column">
    <div>
      <span>Awards</span>
    </div>

    <ul>
      <li *ngFor="let a of awards">{{a.description}}</li>
    </ul>
  </div>

  <div class="deliberation-column nominations">
    <div>
      <span>Nominations</span>
    </div>

    <ul>
      <li *ngFor="let a of awards">{{a.description}}</li>
    </ul>
  </div>

  <div class="deliberation-column teams">
    <div>
      <span>Team List</span>
      <button md-button (click)="setTeamListDisplay(1)">#</button>
      <button md-button (click)="setTeamListDisplay(2)">P</button>
      <button md-button (click)="setTeamListDisplay(3)">J</button>
    </div>

    <div class="team-list-container" [ngSwitch]="teamListDisplay">
      <deliberation-team-list *ngSwitchCase="1"></deliberation-team-list>
      <robot-performance-list *ngSwitchCase="2"></robot-performance-list>
      <judging-scores-list *ngSwitchCase="3"></judging-scores-list>
    </div>
  </div>
</div>
