.drop-zone {
  width: 100%;
  height: 200px;
  border: 5px dashed #BBB;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: #aaaaaa;
}

.drop-zone.drop-hover {
  background-color: #ddffdd;
  border-color: #88aa88;
}
