<button md-fab routerLink="/judge/import" style="position: absolute; right: 40px; top: 25px; z-index: 200;" title="Import Judges">
  <md-icon>cloud_upload</md-icon>
</button>

<div id="judge-list-container">
  <div class="judge-list">
    <judge-card *ngFor="let judge of robotJudges" [judge]="judge"></judge-card>
  </div>
  <div class="judge-list">
    <judge-card *ngFor="let judge of projectJudges" [judge]="judge"></judge-card>
  </div>
  <div class="judge-list">
    <judge-card *ngFor="let judge of coreJudges" [judge]="judge"></judge-card>
  </div>
</div>

