#judge-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  height: 90vh;
}

.judge-list {
  width: 33%;
  max-width: 400px;
  flex-grow: 1;
  flex-shrink: 1;
}

button md-icon {
  font-size: 36px;
  width: 36px;
}
