<error-message [error]="error"></error-message>

<div id="import-container">
  <div id="team-list-container">
    <team-card *ngFor="let team of currentTeams | async" [team]="team"></team-card>
  </div>

  <div>
    <div *ngIf="newTeams.length > 0">
      <button (click)="onSubmit()">Submit</button>
      <button (click)="onCancel()">Cancel</button>
      <team-card *ngFor="let t of newTeams" [team]="t"></team-card>
    </div>
    <drop-target *ngIf="newTeams.length === 0" (filesDropped)="onFilesDropped($event)"
                 prompt="Drop Judge .CSV File Here">
    </drop-target>
  </div>
</div>
