<error-message [error]="error"></error-message>

<div id="import-container">
  <div id="team-list-container">
    <team-card *ngFor="let team of currentTeams | async" [team]="team"></team-card>
  </div>

  <div>
    <div *ngIf="newTeams.length > 0">
      <button md-mini-fab (click)="onSubmit()" style="position: fixed; top: 80px; right: 10px;">
        <md-icon>cloud_upload</md-icon>
      </button>
      <button md-mini-fab (click)="onCancel()" style="position: fixed; top: 140px; right: 10px;">
        <md-icon>close</md-icon>
      </button>
      <team-card *ngFor="let t of newTeams" [team]="t"></team-card>
    </div>
    <drop-target *ngIf="newTeams.length === 0" (filesDropped)="onFilesDropped($event)"
                 prompt="Drop Team .CSV File Here">
    </drop-target>
  </div>
</div>
