<div style="display: flex; justify-content: center;">
  <md-card style="width: 600px; height: 800px;">
    <div style="font-size: 150%; text-align: center;">Tournament Information</div>

    <div>
      <md-input placeholder="Tournament Name" [(ngModel)]="tournamentInfo.name" style="width:80%;"></md-input>
      <button md-raised-button (click)="onSaveTournamentInfo()">Save</button>
    </div>

    <div style="margin-top: 20px;">
      <span style="font-weight: bold;">Awards</span>
      <ul style="padding: 0;margin: 1em 0;list-style-type: none;">
        <li *ngFor="let a of awards">{{a.description}}: {{a.winner}}</li>
      </ul>
    </div>

    <div>
      <button md-raised-button (click)="onCreateAwards()">Clear Awards</button>
    </div>
  </md-card>
</div>
