md-card {
  margin: 5px;
  height: 80px;
  display: flex;
  align-content: center;
}

md-card md-icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

md-card .info {
  font-size: 110%;
  align-self: center;
}
