/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/purple-green.css';*/
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

* {
  box-sizing: border-box;
}

body {
  height: 99vh;
  margin: 0;
  padding-top: 70px;
  background-color: #eee;
}
