.home-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 90vh;
}

.link-container {
  margin-top: 100px;
  width: 50%;
  height: 50%;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.link {
  width: 45%;
  height: 45%;
  text-align: center;
}

.link md-icon {
  width: 225px;
  height: 225px;
  font-size: 900%;
  margin-top: 35px;}

.info {
  border-top-left-radius: 30px;
  background-color: #484;
  color: #dfd;
}

.deliberation {
  border-top-right-radius: 30px;
  background-color: #4488cc;
  color: #bdf;
}

.team {
  border-bottom-left-radius: 30px;
  background-color: #cc4;
  color: #ffa;
}

.judge {
  border-bottom-right-radius: 30px;
  background-color: #844;
  color: #fdd;
}
